## O básico de Python e variáveis

A função any() em Python é usada para verificar se ao menos um elemento em um iterável (como uma lista, tupla, conjunto, etc.) é avaliado como True. Se houver pelo menos um elemento avaliado como True, a função retorna True. Caso contrário, retorna False.

In [49]:
from typing import List, Tuple

print(isinstance(1, int))
print(isinstance(1.2, float))
print(isinstance("oi", str))
print(isinstance([1], List))
print(isinstance((2, 7), Tuple))

True
True
True
True
True

In [9]:
# Você pode usar aspas duplas
print("Bom dia")

"""

Caso você deseje fazer um comentário mais extenso,
também é possível comentar utilizando 3 aspas simples ou duplas
antes e depois do comentário

"""

# Assim como você pode usar aspas simples também
print('Como você está?')

Bom dia
Como você está?

In [5]:
# \n é utilizado para pular linha
print("Bom dia\nComo você está")

Bom dia
Como você está

**Tipos de variáveis**

In [109]:
A = [1, 1.0, True, 'one', [1, 2.0, '3'], (1, 2.0, '3'), {'apple': 5, 'orange': 'six'}]
for a in A:
    print(f'{str(type(a)):16}: {a}')

<class 'int'>   : 1
<class 'float'> : 1.0
<class 'bool'>  : True
<class 'str'>   : one
<class 'list'>  : [1, 2.0, '3']
<class 'tuple'> : (1, 2.0, '3')
<class 'dict'>  : {'apple': 5, 'orange': 'six'}

In [6]:
a = 1
b = 2.3
c = False
d = True
e = 'Bom dia'
f = "ola"
g = [1,2,3]
h = (1,2,3)
i = {'Valor': [50,20,30]}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

**Operações aritméticas**

In [45]:
1 + 2

3

In [46]:
5 - 12

-7

In [47]:
3 * 8

24

In [49]:
11 / 2

5.5

In [39]:
11 // 2

5

In [48]:
# Retorna a potência
2 ** 5

32

In [40]:
# 1.2 * (10 ** 20)
1.2e20

1.2e+20

In [41]:
# 1.2 * (10 ** 20)
1.2E20

1.2e+20

In [42]:
# 1.2 * (10 ** (-20))
1.2e-20

1.2e-20

In [44]:
# 1.2 * (10 ** (-20))
1.2E-20

1.2e-20

In [40]:
# Facilita a visualização de qual número estamos nos referindo
1_000_000

1000000

In [50]:
# Retorna o resto da divisão
7 % 2

1

In [51]:
7 % 3

1

In [52]:
7 % 4

3

**Operações lógicas**

In [45]:
# Tem 'bom' em 'bom dia'?
'bom dia' in 'bom'

False

In [44]:
# Tem 'bom' em 'bom dia'?
'bom' in 'bom dia'

True

In [43]:
# Não tem 'cavalo' em 'bom dia'?
not 'cavalo' in 'bom dia'

True

In [37]:
# a é maior que b?
2 > 5

False

In [38]:
# a é menor que b?
2 < 5

True

In [39]:
# a é maior ou igual a b?
2 >= 5

False

In [31]:
# a é menor ou igual a b?
2 <= 5

True

In [40]:
# a é diferente de b?
2 != 5

True

In [22]:
# 'a' é igual 'b'? (Comparação)
2 == 5

False

**a** é igual **b**! ('a' recebe o valor de 'b') <br>
a = b

**a** é igual **b**? (Comparação) <br>
a == b

**Alterações incrementasi de variáveis**

+= <br>
-= <br>
*= <br>
/= <br>

In [2]:
valor = 500
print(valor, '\n')

valor = valor + 300
print(valor)

500

800

In [3]:
valor = 500
print(valor, '\n')

valor += 300
print(valor)

500
800

## Funções built-in

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [37]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [38]:
abs(-10)

10

In [49]:
round(1.4329584, 3)

1.433

In [51]:
pow(2, 5)

32

## Convertendo variáveis

In [ ]:
a = 2.656598484
variavel_inteira = int(b)

# É possível apresentar o valor da variável sem colocar o print
# Contudo, se for feito mais de uma vez, apenas será mostrado a última variável
print(variavel_inteira)
type(variavel_inteira)

2

int

In [ ]:
a = 1
variavel_float = float(a)

print(variavel_float)
type(variavel_float)

1.0

float

In [ ]:
a = False
variavel_string = str(a)

print(variavel_string)
type(variavel_string)

False

str

In [ ]:
a = 5
variavel_string = str(a)

print(variavel_string)
type(variavel_string)

5

str

In [ ]:
a = 16.65723732
variavel_string = str(a)

print(variavel_string)
type(variavel_string)

16.65723732

str

In [ ]:
texto = '100.000,00'

texto = texto.replace('.','')

texto = texto.replace(',','.')

texto = float(texto)

print(texto)

100000.0

## Convertendo variáveis

In [81]:
a = 2.656598484
variavel_inteira = int(b)

# É possível apresentar o valor da variável sem colocar o print
# Contudo, se for feito mais de uma vez, apenas será mostrado a última variável
print(variavel_inteira)
type(variavel_inteira)

2

int

In [82]:
a = 1
variavel_float = float(a)

print(variavel_float)
type(variavel_float)

1.0

float

In [83]:
a = False
variavel_string = str(a)

print(variavel_string)
type(variavel_string)

False

str

In [84]:
a = 5
variavel_string = str(a)

print(variavel_string)
type(variavel_string)

5

str

In [85]:
a = 16.65723732
variavel_string = str(a)

print(variavel_string)
type(variavel_string)

16.65723732

str

In [43]:
texto = '100.000,00'

texto = texto.replace('.','')

texto = texto.replace(',','.')

texto = float(texto)

print(texto)

100000.0

## Entrada de valores (Input)

In [6]:
nome = input("Digite o seu nome: ")
print(f"Bem vindo {nome}!")

Bem vindo Ari!

In [23]:
valor_1 = int(input("Digite o primeiro valor: "))
valor_2 = int(input("Digite o segundo valor: "))
print(valor_1 + valor_2)

8

## Condições

In [29]:
a = 1
b = 2
c = 2
d = 3

In [30]:
if b > a:
    print("if")

else:
    print("else")

if

In [31]:
if b < a:
    print("if")

else:
    print("else")

else

In [33]:
if b < a:
    print("if")

elif (b == c):
    print('elif')

else:
    print("else")

elif

In [34]:
# Mesmo o 'if' e o 'elif' sendo verdadeiros, nessa estrutura quando ocorre o primeiro, os demais são ignorados

if b > a:
    print("if")

elif (b == c):
    print('elif')

else:
    print("else")

if

In [35]:
if b > a:
    print("if")

if (b == c):
    print('elif')

if
elif

**pass**

In [ ]:
valor = 0

if valor == 0:
    print("O valor não pode ser igual a zero!")

# Não faz nada
# É utilizado o 'pass' visto que é obrigatório utilizar algum comando dentro de uma condição, e o 'pass' não faz nada
else:
    pass

In [49]:
a = ''

if a:
    print("A variável APARECEU")

else:
    print("A variável NÃO apareceu")

A variável NÃO apareceu

In [50]:
b = 'd'

if b:
    print("A variável APARECEU")

else:
    print("A variável NÃO apareceu")

A variável APARECEU

In [1]:
a = True
b = False

if a and b:
    print("True")

else:
    print('False')

False

In [2]:
a = True
b = False

if a or b:
    print("True")

else:
    print('False')

True

# Strings

In [7]:
texto = "Se porventura o texto que você escrever estiver muito grande"
texto += ", uma alternativa é quebrá-lo em várias partes"
texto += " e com isso você conseguirá visualizar ele de forma mais clara"

print(texto)

Se porventura o texto que você escrever estiver muito grande, uma alternativa é quebrá-lo em várias partes e com isso você conseguirá visualizar ele de forma mais clara

In [8]:
print('Talvez você não saiba, mas \n é um caractere especial', '\n')

print('Talvez você não saiba, mas \\n é um caractere especial', '\n')

print('Você também pode utilizar \t tabulação')

Talvez você não saiba, mas
 é um caractere especial

Talvez você não saiba, mas \n é um caractere especial

Você também pode utilizar 	 tabulação

In [14]:
x = "ABCDEFGH"
print(x, '\n')

aux = x[:]
print('[:] = ', aux, '\n')

aux = x[::]
print('[::] = ', aux, '\n')

print('x[::2]')
print(x[::2],'\n')

print('x[0:-1:2]')
print(x[0:-1:2], '\n')

print('x[2::]')
print(x[2::], '\n')

print('x[0:-1:2]')
print(x[0:-1:2], '\n')

print('x[2:-1:1]')
print(x[2:-1:1], '\n')

print('x[::-2]')
print(x[::-2], '\n')

print('x[-1:0:-2]')
print(x[-1:0:-2], '\n')

print('x[-2::]')
print(x[-2::], '\n')

print('x[-2::1]')
print(x[-2::1], '\n')

ABCDEFGH

[:] =  ABCDEFGH

[::] =  ABCDEFGH

x[::2]
ACEG

x[0:-1:2]
ACEG

x[2::]
CDEFGH

x[0:-1:2]
ACEG

x[2:-1:1]
CDEFG

x[::-2]
HFDB

x[-1:0:-2]
HFDB

x[-2::]
GH

x[-2::1]
GH

In [ ]:
nome = "João de Oliveira Sampaio Júnior"
idade = 22
grana = 51.34524752

#===================================================================================

print("%s tem %d anos e R$ %f no bolso.\n" % (nome, idade, grana))
print("%5s tem %02d anos e R$ %06.3f no bolso.\n" % (nome, idade, grana))

print("{} tem {} anos e R$ {} no bolso.\n".format(nome, idade, grana))
print("{} tem {} anos e R$ {} no bolso.\n".format(nome, idade, grana))

print(f"{nome} tem {idade} anos e R$ {grana} no bolso.\n")
print(f"{nome} tem {idade} anos e R$ {grana:.2f} no bolso.")

João de Oliveira Sampaio Júnior tem 22 anos e R$ 51.345248 no bolso.

João de Oliveira Sampaio Júnior tem 22 anos e R$ 51.345 no bolso.

João de Oliveira Sampaio Júnior tem 22 anos e R$ 51.34524752 no bolso.

João de Oliveira Sampaio Júnior tem 22 anos e R$ 51.34524752 no bolso.

João de Oliveira Sampaio Júnior tem 22 anos e R$ 51.34524752 no bolso.

João de Oliveira Sampaio Júnior tem 22 anos e R$ 51.35 no bolso.

In [ ]:
a = 3
b = 2

print('Os valors são: ' + str(a) + ' e ' + str(b))
print('Os valors são:', a, 'e', b)

Os valors são: 3 e 2
Os valors são: 3 e 2

In [ ]:
a = "Oi"
b = " Ari"
c = ", como você está?"
print(a + b + c)

Oi Ari, como você está?

In [7]:
string_1 = "Eu te vi hoje."
string_2 = "Sério?! Onde?"

print(string_1 + '\n')
print(string_2)

print('')

print(string_1 + '\n' + string_2)

print('')

print(string_1, '\n', string_2)

Eu te vi hoje.

Sério?! Onde?

Eu te vi hoje.
Sério?! Onde?

Eu te vi hoje.
 Sério?! Onde?

In [ ]:
a = 3
b = 5

print(f"""
Caso você deseje fazer textos maiores no print,
essa é uma ótima opção {a} e {b}.
      """)

Caso você deseje fazer textos maiores no print,
essa é uma ótima opção 3 e 5.

In [ ]:
print('=' * 50)

==================================================

In [ ]:
faturamento = 1000

texto = 'O faturamento foi de R$ {}.'

print(texto.format(faturamento))

O faturamento foi de R$ 1000.

In [37]:
texto = 'hoje eu estava estudando Ciência de Dados, ENTENDEU ARI?'
print('Texto normal: ', texto, '\n')

# Deixa todas as letras minúsculas, exceto a primeira
print('capitalize: ', texto.capitalize(), '\n')

# Transforma todas as letras, em letras minúsculas
print('casefold: ', texto.casefold(), '\n')

# Deixa somente a primeira letra de cada palavra em maiúscula
print('title: ', texto.title(), '\n')

# Transforma todas as letras, em letras maiúsculas
print('upper: ', texto.upper(), '\n')

# Transforma todas as letras, em letras minúsculas
print('lower: ', texto.lower(), '\n')

# As letras maiúsculas se tornam minúsculas, e vice-versa
print('swapcase: ', texto.swapcase(), '\n')

# Conta a quantidade de um determinado caracter
print('count("a"): ', texto.count('a'), '\n')
print('count("A"): ', texto.count('a'), '\n')

# Verifica se um caractere ou um conjunto de caracteres estão no início da string
print('startswith("hoj"): ', texto.startswith('hoj'), '\n')

# Verifica se um caractere ou um conjunto de caracteres estão no fim da string
print('endswith("ENTENDEU ARI?"): ', texto.endswith('ENTENDEU ARI?'), '\n')

# Encontra a posição da primeira ocorrência de um caractere ou um conjunto de caracteres
print('find("Dados"): ', texto.find('Dados'), '\n')

# Diferença entre lower() e casefold()
texto = "ßtraße"
print('lower: ', texto.lower(), '\n')
print('casefold: ', texto.casefold(), '\n')

Texto normal:  hoje eu estava estudando Ciência de Dados, ENTENDEU ARI?

capitalize:  Hoje eu estava estudando ciência de dados, entendeu ari?

casefold:  hoje eu estava estudando ciência de dados, entendeu ari?

title:  Hoje Eu Estava Estudando Ciência De Dados, Entendeu Ari?

upper:  HOJE EU ESTAVA ESTUDANDO CIÊNCIA DE DADOS, ENTENDEU ARI?

lower:  hoje eu estava estudando ciência de dados, entendeu ari?

swapcase:  HOJE EU ESTAVA ESTUDANDO cIÊNCIA DE dADOS, entendeu ari?

count("a"):  5

count("A"):  5

startswith("hoj"):  True

endswith("ENTENDEU ARI?"):  True

find("Dados"):  36

lower:  ßtraße

casefold:  sstrasse

In [33]:
# Verifica se o texto apresenta apenas letras e números
texto = "Ari12ç3"
print('Texto normal: ', texto, '\n')

# Verifica se a string possui somente letras e números
print('isalnum: ' ,texto.isalnum(), '\n')

# Verifica se a string possui somente letras
print('isalpha: ' ,texto.isalpha(), '\n')

# Verifica se a string possui somente números
print('isnumeric: ' ,texto.isnumeric(), '\n')

Texto normal:  Ari12ç3

isalnum:  True

isalpha:  False

isnumeric:  False

In [2]:
texto = '1000,00'
texto.replace(',','.')

texto = ' ari para sempre '
texto.strip()

texto = 'aribarrosfilho@gmail.com'
texto.split('@')


texto = """Bom dia, tudo bem?
Eu gostaria de saber se a viagem para amanhã ainda está de pé.
Soube que choverá muito pela tarde
"""

print(texto.splitlines())

['Bom dia, tudo bem?', 'Eu gostaria de saber se a viagem para amanhã ainda está de pé.', 'Soube que choverá muito pela tarde']

In [5]:
texto = "Ari"

# Ambos retornam a posição de um caractere pertence a string, 
# ou um conjunto de caracteres que estejam contidas na string
print(texto.find("r"))
print(texto.index("r"))

# Caso não exista, o find retorna -1, enquanto o index dá erro
print(texto.find("x"))
print(texto.index("x"))

1
1
-1

ValueError: substring not found

Mais métodos na documentação: https://docs.python.org/3/library/stdtypes.html#string-methods

:<		Alinha o texto à esquerda (se tiver espaço na tela para isso) <br>
:>		Alinha o texto à direita (se tiver espaço na tela para isso) <br>
:^		Alinha o texto ao centro (se tiver espaço na tela para isso) <br>
:+		Coloca o sinal sempre na frente do número (independente se é positivo ou negativo) <br>
:,		Coloca a vírgula como separador de milhar <br>
:_		Coloca o _ como separador de milhar <br>
:e		Formato Científico <br>
:f		Número com quantidade fixa de casas decimais <br>
:x		Formato HEX minúscula (para cores) <br>
:X		Formato HEX maiúscula (para cores) <br>
:%		Formato Percentual <br>

- Exemplo de Alinhamento

In [ ]:
email = 'lira@gmail.com'
print('Meu e-mail não é {:<30}, show?'.format(email))

Meu e-mail não é lira@gmail.com                , show?

- Exemplo de Edição de Sinal

In [ ]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print('Faturamento foi {:+} e lucro foi {:+}'.format(faturamento, lucro))

Faturamento foi +270 e lucro foi -230

- Exemplo de Separador de Milhar

In [ ]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print('Faturamento foi {:+} e lucro foi {:+}'.format(faturamento, lucro))

Faturamento foi +270 e lucro foi -230

- Formato com casas Decimais fixas

In [ ]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print('Faturamento foi {:.2f} e lucro foi {:2f}'.format(faturamento, lucro))

Faturamento foi 270.00 e lucro foi -230.000000

- Formato Percentual

In [ ]:
custo = 500
faturamento = 1300
lucro = faturamento - custo
margem = lucro / faturamento
print('Margem de lucro foi de {:.2%}'.format(margem))

Margem de lucro foi de 61.54%

- Formato Moeda -> Combinação de Formatos

Existem módulos/bibliotecas que vão facilitar isso, caso a gente queira, mas vamos ver como usar módulos mais a frente do curso. Por enquanto, se você precisar, pode fazer substituições em string

In [ ]:
custo = 5000
faturamento = 27000
lucro = faturamento - custo
print('Faturamento foi R${:,.2f} e lucro foi R${:,.2f}'.format(faturamento, lucro))

#transformando no formato brasileiro
lucro_texto = 'R${:_.2f}'.format(lucro)
print(lucro_texto.replace('.', ',').replace('_', '.'))

Faturamento foi R$27,000.00 e lucro foi R$22,000.00
R$22.000,00

- Função round() para arredondar números, caso seja necessário

In [ ]:
imposto = 0.15758
preco = 100
valor_imposto = round(preco * imposto, 1)
print('Imposto sobre o preço é de {}'.format(valor_imposto))

Imposto sobre o preço é de 15.8

Uma grande melhoria do `format` é poder escolher a ordem de inserção e trabalhar com variáveis:

In [ ]:
print("Controlando {2} {1}{0}".format("!", "ordem", "a"))

print("Primeiro: {a}; Segundo: {b}; Terceiro: {c}".format(a=1, b="2", c=12.3))

print("A variável {p} pode ser reutilizada: {p}.".format(p="(oi!)"))

Controlando a ordem!
Primeiro: 1; Segundo: 2; Terceiro: 12.3
A variável (oi!) pode ser reutilizada: (oi!).

É possível também inserir valores com base em uma tupla a partir do unpacking da mesma:

In [ ]:
tupla = (1, 2, 3)

print("Primeiro: {}; Segundo: {}; Terceiro: {}".format(*tupla))

Primeiro: 1; Segundo: 2; Terceiro: 3

Pode-se, inclusive, usar chaves de dicionários através de *unpack* como no exemplo a seguir:

In [ ]:
pessoa = {"nome": "Francisco", "especialidade": "Ciência de Dados"}

print("Olá, {nome}. Você é especialista em {especialidade}.".format(**pessoa))

Olá, Francisco. Você é especialista em Ciência de Dados.

### Alinhamento

Com o `format` houve um grande avanço nas possibilidades de exibir saída em texto. A seguir, vemos como podemos indicar o espaço a ser ocupado por cada inserção:

In [ ]:
print("{0:16} | {1:5}".format("Nome", "Especialidade"))
print("{0:16} | {1:5}".format("Francisco", "Ciência de Dados"))
print("{0:16} | {1:5}".format("Lira", "Python"))
print("{0:16} | {1:5}".format("Erro", 0))

Nome             | Especialidade
Francisco        | Ciência de Dados
Lira             | Python
Erro             |     0

Veja como os valores numéricos se alinharam à direita, enquanto que as strings se alinharam à esquerda. É possível controlar o alinhamento da seguinte forma:

In [ ]:
print("{0:<8} | {1:^8} | {2:>8}".format("Esquerda", "Centro", "Direita"))
print("{0:<8} | {1:^8} | {2:>8}".format(11, 22, 33))

Esquerda |  Centro  |  Direita
11       |    22    |       33

Também é possível preencher o espaço com algum caractere:

In [ ]:
print("{0:=<8} | {1:-^8} | {2:.>8}".format("Esquerda", "Centro", "Direita"))
print("{0:=<8} | {1:-^8} | {2:.>8}".format(11, 22, 33))

Esquerda | -Centro- | .Direita
11====== | ---22--- | ......33

As informações de alinhamento e de tamanho também podem ser passadas como parâmetros:

In [ ]:
print('"{:{align}{width}}"'.format("texto", align="^", width="10"))

"  texto   "

Para saber mais [veja a documentação do `format`](https://docs.python.org/3/library/string.html#format-string-syntax).

### Lidando com números

Muito similar ao visto na utilização do marcador de posição:

In [ ]:
print("10 caracteres e 2 casas decimais:{:10.2f}".format(13.579))

10 caracteres e 2 casas decimais:     13.58

E aqui também se pode utilizar parâmetros:

In [ ]:
print("10 caracteres e 2 casas decimais:{:{sign}{width}.{prec}f}".format(13.579, width=10, prec=2, sign="+"))

10 caracteres e 2 casas decimais:    +13.58

Para saber mais, [veja a documentação das f-strings](https://docs.python.org/3/reference/lexical_analysis.html#f-strings).

# Lista

[Python - Listas](https://docs.python.org/3/tutorial/datastructures.html)

In [11]:
# Define uma lista com 10 elementos
lista_1 = list(range(10))
print('list(range(10)): ', lista_1)

# Retorna o tamanho da lista, ou seja, a quantidade total de elementos
tamanho = len(lista_1)
print('Tamanho: ', tamanho, '\n')

# Define uma lista com 10 elementos
lista_2 = list(range(3, 10))
print('list(range(3, 10)): ', lista_2)

# Retorna o tamanho da lista, ou seja, a quantidade total de elementos
tamanho = len(lista_2)
print('Tamanho: ', tamanho, '\n')

# Define uma lista com 10 elementos
lista_3 = list(range(3, 10, 2))
print('list(range(3, 10, 2)): ', lista_3)

# Retorna o tamanho da lista, ou seja, a quantidade total de elementos
tamanho = len(lista_3)
print('Tamanho: ', tamanho, '\n')

list(range(10)):  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Tamanho:  10

list(range(3, 10)):  [3, 4, 5, 6, 7, 8, 9]
Tamanho:  7

list(range(3, 10, 2)):  [3, 5, 7, 9]
Tamanho:  4

In [21]:
lista_a = list(range(10))
print("lista_a: ", lista_a)

lista_b = list(range(0, 10, 2))
print("lista_b: ", lista_b, '\n')

print("lista_b in lista_a: ", lista_b in lista_a)
print("lista_a in lista_b: ", lista_a in lista_b)
print("lista_b[0] in lista_a: ", lista_b[0] in lista_a)
print("lista_a[0] in lista_b: ", lista_a[0] in lista_b)

lista_a:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lista_b:  [0, 2, 4, 6, 8]

lista_b in lista_a:  False
lista_a in lista_b:  False
lista_b[0] in lista_a:  True
lista_a[0] in lista_b:  True

**Modificação de elementos da lista**

In [ ]:
# Em uma lista é possível alterar o valor de determinado item, contudo em uma string isso não é possível! <br>
# A única alteração que é possível de ser realizada é a utilização do replace()

lista_a = [10, 20, 30, 40, 50]
print(lista_a)

lista_a[2] = 300
print(lista_a, '\n')

#==================================================================================

lista_b = list(range(10,51,10))
print('=' * 60, '\n\n', lista_b)

lista_b[1] = 1000
print(lista_b)

[10, 20, 30, 40, 50]
[10, 20, 300, 40, 50]

============================================================

 [10, 20, 30, 40, 50]
[10, 1000, 30, 40, 50]

**Índice**

In [ ]:
itens = ['Geladeira', 'Celular', 'Tablet', 'Notebook', 'Fones de ouvido']
preco = [2000, 800, 600, 3200, 150]

print(len(itens))
print(len(preco))

5
5

In [ ]:
indice = itens.index('Notebook')
print(indice)

print(itens[indice])

print(preco[indice])

3
Notebook
3200

In [ ]:
item_procurado = 'Geladeira'

print(item_procurado in itens)

#==================================================================================

item_procurado = 'geladeira'

print(item_procurado in itens)

#==================================================================================

item_procurado = 'geladeira'

item_procurado = item_procurado.casefold() # Torna todas as letras minúsculas
item_procurado = item_procurado.capitalize() # Torna apenas a primeira letra maiúscula

print(item_procurado in itens)

#==================================================================================

item_procurado = 'GELADEIRA'

item_procurado = item_procurado.casefold() # Torna todas as letras minúsculas
item_procurado = item_procurado.capitalize() # Torna apenas a primeira letra maiúscula

print(item_procurado in itens)

False
True
True

In [ ]:
lista = list(range(2,11,2))
print(lista)

[2, 4, 6, 8, 10]

In [ ]:
# Adiciona 33 na última posição da lista
lista.append(33)
print(lista)

[2, 4, 6, 8, 10, 33]

In [ ]:
# Remove o elemento 8
lista.remove(8)
print(lista)

[2, 4, 6, 10, 33]

In [ ]:
# Removo o item de índice igual a 2
indice = 2
lista.pop(indice)
print(lista)

[2, 4, 10, 33]

In [ ]:
item_removido = lista.pop(3)
print(item_removido)
print(lista)

33
[2, 4, 10]

In [ ]:
item_remocao = 11

# Tente fazer isso
try:
    lista.remove(item_remocao)

# Se não der certo, rode o except
except:
    #pass # caso eu não queira fazer nada
    print(f'{item_remocao} Não existe na lista.')

11 Não existe na lista.

In [ ]:
lista = list(range(2,11,2))
print(lista)

#=====================================================

print('\n' + 'Valor máximo')

valor_maximo = max(lista)

print(valor_maximo, '\n')

#=====================================================

valor_minimo = min(lista)

print('Valor mínimo')
print(valor_minimo)

[2, 4, 6, 8, 10]

Valor máximo
10

Valor mínimo
2

In [ ]:
indice_valor_maximo = lista.index(valor_maximo)

print('Índice do valor máximo')
print(indice_valor_maximo,'\n')

#=======================================================================

indice_valor_minimo = lista.index(valor_minimo)

print('Índice do valor mínimo')
print(indice_valor_minimo)

Índice do valor máximo
4

Índice do valor mínimo
0

In [ ]:
lista_1 = list(range(1,10,2))
print('Lista_1')
print(lista_1, '\n')

lista_2 = list(range(0,10,2))
print('Lista_2')
print(lista_2, '\n')

lista_1.append(lista_2)
print('Lista_1 recebe a lista_2')
print(lista_1)

Lista_1
[1, 3, 5, 7, 9]

Lista_2
[0, 2, 4, 6, 8]

Lista_1 recebe lista_2
[1, 3, 5, 7, 9, [0, 2, 4, 6, 8]]

In [ ]:
lista_1 = list(range(1,10,2))
print('Lista_1')
print(lista_1, '\n')

lista_2 = list(range(0,10,2))
print('Lista_2')
print(lista_2, '\n')

lista_1.extend(lista_2)
print('Lista_1 recebe os itens da lista_2')
print(lista_1)

Lista_1
[1, 3, 5, 7, 9]

Lista_2
[0, 2, 4, 6, 8]

Lista_1 recebe os itens da lista_2
[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

In [ ]:
lista_1 = list(range(1,10,2))
print('Lista_1')
print(lista_1, '\n')

lista_2 = list(range(0,10,2))
print('Lista_2')
print(lista_2, '\n')

lista_3 = lista_1 + lista_2
print('lista_3 = Lista_1 + lista_2')
print(lista_3)

Lista_1
[1, 3, 5, 7, 9]

Lista_2
[0, 2, 4, 6, 8]

lista_3 = Lista_1 + lista_2
[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: sort()
</div>

In [ ]:
lista_3.sort()
print(lista_3)

lista_3.sort(reverse = True)
print(lista_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lista = ['casa', 'Fogão', 'Geladeira', 'panela', 'Itinerário', 'ganhador']
print('Lista original')
print(lista, '\n')

lista.sort()
print('Lista ordenada')
print(lista)

Lista original
['casa', 'Fogão', 'Geladeira', 'panela', 'Itinerário', 'ganhador']

Lista ordenada
['Fogão', 'Geladeira', 'Itinerário', 'casa', 'ganhador', 'panela']

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: join()
</div>

In [ ]:
nova_lista = []

for i in lista:
    i = i.casefold()
    nova_lista.append(i)

nova_lista.sort()
print(nova_lista)

print('')
print('\n' .join(nova_lista))

['casa', 'fogão', 'ganhador', 'geladeira', 'itinerário', 'panela']

casa
fogão
ganhador
geladeira
itinerário
panela

In [ ]:
produtos = 'casa, fogão, ganhador, geladeira, itinerário, panela'
lista_produtos = produtos.split(', ')
lista_produtos

['casa', 'fogão', 'ganhador', 'geladeira', 'itinerário', 'panela']

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Cópia de listas.
</div>

In [ ]:
lista_1 = ['casa', 'madeira', 'verde', 'cantar']

# Cria uma nova lista sendo a cópia da lista_1
lista_2 = lista_1.copy()

# Modifica o primeiro elemento da lista_1
lista_1[0] = 'apartamento'

print(lista_1)
print(lista_2)

['apartamento', 'madeira', 'verde', 'cantar']
['casa', 'madeira', 'verde', 'cantar']

In [ ]:
lista_1 = ['casa', 'madeira', 'verde', 'cantar']

# Cria uma nova lista sendo a cópia da lista_1
lista_2 = lista_1[:]

# Modifica o primeiro elemento da lista_1
lista_1[0] = 'apartamento'

print(lista_1)
print(lista_2)

['apartamento', 'madeira', 'verde', 'cantar']
['casa', 'madeira', 'verde', 'cantar']

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Listas de listas.
</div>

In [ ]:
lista_1 = [
    [10, 10, 20],
    [40, 60, 80, 200, 100],
    [1, 3, 2]
]

print('Lista completa')
print(lista_1, '\n')

print('Elemento da lista completa no índice 1')
print(lista_1[1], '\n')

print('Elemento da lista completa no índice 1, sub-elemento no índice 3')
print(lista_1[1][3])

Lista completa
[[10, 10, 20], [40, 60, 80, 200, 100], [1, 3, 2]]

Elemento da lista completa no índice 1
[40, 60, 80, 200, 100]

Elemento da lista completa no índice 1, sub-elemento no índice 3
200

# Estrutura de petição

## for

In [20]:
for i in range(5):
    print('Ari')

Ari
Ari
Ari
Ari
Ari

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
lista = ['Engenharia Elétrica', 'Economia', 'Direito', 'Administração']
tamanho_lista = len(lista)

for i in range(tamanho_lista):
    print(lista[i])

Engenharia Elétrica
Economia
Direito
Administração

In [29]:
lista = ['Engenharia Elétrica', 'Economia', 'Direito', 'Administração']

for i in lista:
    print(i)

Engenharia Elétrica
Economia
Direito
Administração

In [34]:
i = 0

for curso in lista:
    print(f'{i} {curso}\n')
    i += 1

0 Engenharia Elétrica

1 Economia

2 Direito

3 Administração

In [33]:
for i, curso in enumerate(lista):
    print(f'{i} {curso}\n')

0 Engenharia Elétrica

1 Economia

2 Direito

3 Administração

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Break.
</div>

O **break** cancela a iteração atual e as próximas também para aquele laço de repetição

In [12]:
lista = [20, 30, 40, 50, 25, 10]

for i in lista:

    if i >= 45:
        break
    
    print(i)

20
30
40

In [16]:
lista = [
    [20, 30, 40, 50, 25, 10, 12, 54, 35],
    [15, 28, 60, 2, 59, 3]
]

for i in lista:

    # Caso o break seja ativado, apenas esse for abaixo será cancelado
    for j in i:

        if j >= 45:
            break

        print(j)
    
    print('-' * 65)

20
30
40
-----------------------------------------------------------------
15
28
-----------------------------------------------------------------

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Listas de listas.
</div>

In [17]:
lista = [20, 30, 40, 50, 25, 10]

for i in lista:

    if i >= 45:
        continue
    
    print(i)

20
30
40
25
10

In [18]:
lista = [
    [20, 30, 40, 50, 25, 10, 12, 54, 35],
    [15, 28, 60, 2, 59, 3]
]

for i in lista:

    # Caso o continue seja ativado, apenas esse for abaixo será cancelado nesse momento
    for j in i:

        if j >= 45:
            continue

        print(j)
    
    print('-' * 65)

20
30
40
25
10
12
35
-----------------------------------------------------------------
15
28
2
3
-----------------------------------------------------------------

## while

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Listas de listas.
</div>

In [19]:
contador = 0

while contador < 8:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7

In [21]:
contador = 0

while True:

    if contador == 8:
        break

    print(contador)

    contador += 1

0
1
2
3
4
5
6
7

# Tuplas

* Semelhantes as listas, porém são imutáveis (não se pode alterar seus valores uma vez criada)
* Apresentam uma performance mais elevada

In [15]:
# Podemos criar dessa maneira
dados = 'Ari', 24, 56.8
print(dados,'\n')

# Porém essa maneira é a mais indicada
dados = ('Ari', 24, 56.8)
print(dados)

('Ari', 24, 56.8)

('Ari', 24, 56.8)

In [17]:
nome = dados[0]
idade = dados[1]
peso = dados[2]

print(nome, idade, peso)

Ari 24 56.8

In [19]:
# # Haverá um erro se você tentar fazer a alteração de qualquer item de uma tupla
# dados[0] = 'Pedro'

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Unpacking.
</div>

In [27]:
info = ('Ari', 24, 1.7, 56.8, 'Cientista de Dados')

nome, idade, altura, peso, profissao = info

print(nome, idade, altura, peso, profissao)

Ari 24 1.7 56.8 Cientista de Dados

In [40]:
lista = [1, 3, 5, 4, 2, 7, 8]
print(lista)

tupla_lista = tuple(lista)

print(tupla_lista)

[1, 3, 5, 4, 2, 7, 8]
(1, 3, 5, 4, 2, 7, 8)

# Dicionários

In [1]:
dicionario = {
    'nome': 'Ari',
    'idade': 24,
    'peso': 56.8
}

In [42]:
dicionario

{'nome': 'Ari', 'idade': 24, 'peso': 56.8}

In [27]:
for i in dicionario:
    print(i)

print('')

for i in dicionario:
    print(dicionario[i])

nome
idade
peso

Ari
24
56.8

In [30]:
print('nome' in dicionario)
print('origem' in dicionario)

True
False

In [33]:
resultado = dicionario.get('nome')
print('O valor da chave "nome" no dicionário é:')
print(resultado,'\n')

resultado = dicionario.get('Habilidade')
print('O valor da chave "Habilidade" no dicionário é:')
print(resultado,'\n')

resultado = dicionario.get('Habilidade')
print('O valor da chave "Habilidade" no dicionário é:')
print(resultado, 36)

O valor da chave "nome" no dicionário é:
Ari

O valor da chave "Habilidade" no dicionário é:
None

O valor da chave "Habilidade" no dicionário é:
None 36

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Adição de elementos em um dicionário vazio.
</div>

In [24]:
dicionario_vazio = {}

dicionario_vazio['Nome'] = 'Erlon Finardi'

print(dicionario_vazio,'\n')


dicionario_vazio.update({
    'Peso': 68.4,
    'Altura': 1.73
})

print(dicionario_vazio)

dicionario_vazio.update(dicionario)

print(dicionario_vazio)

# Como alterar o valor de uma determinada chave
dicionario_vazio['idade'] = 25

print(dicionario_vazio)

{'Nome': 'Erlon Finardi'}

{'Nome': 'Erlon Finardi', 'Peso': 68.4, 'Altura': 1.73}
{'Nome': 'Erlon Finardi', 'Peso': 68.4, 'Altura': 1.73, 'nome': 'Ari', 'idade': 24, 'peso': 56.8}
{'Nome': 'Erlon Finardi', 'Peso': 68.4, 'Altura': 1.73, 'nome': 'Ari', 'idade': 25, 'peso': 56.8}

In [25]:
del dicionario_vazio['Nome']
print(dicionario_vazio)

Peso = dicionario_vazio.pop('Peso')
print(dicionario_vazio)

print(Peso)

{'Peso': 68.4, 'Altura': 1.73, 'nome': 'Ari', 'idade': 25, 'peso': 56.8}
{'Altura': 1.73, 'nome': 'Ari', 'idade': 25, 'peso': 56.8}
68.4

In [26]:
dicionario_vazio.clear()
print(dicionario_vazio)

{}

In [34]:
lista1 = [1, 2, 3]
lista2 = ['a', 'b', 'c']

combinado = zip(lista1, lista2)
print(list(combinado))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [35]:
lista1 = [1, 2, 3]
lista2 = ['a', 'b', 'c']
lista3 = [10.5, 20.5, 30.5]

combinado = zip(lista1, lista2, lista3)
print(list(combinado))

[(1, 'a', 10.5), (2, 'b', 20.5), (3, 'c', 30.5)]

In [45]:
# Definindo as listas originais
lista1 = [1, 2, 3]
lista2 = ['a', 'b', 'c']
lista3 = [10.5, 20.5, 30.5]

# Combinando as listas usando zip
combinado = zip(lista1, lista2, lista3)
print(combinado)

# Convertendo combinado para uma lista de tuplas
combinado_list = list(combinado)
print(combinado_list)

# Desempacotando combinado para x1, x2 e x3
x1, x2, x3 = zip(*combinado_list)
print(x1)
print(x2)
print(x3)

<zip object at 0x000001D58E045740>
[(1, 'a', 10.5), (2, 'b', 20.5), (3, 'c', 30.5)]
(1, 2, 3)
('a', 'b', 'c')
(10.5, 20.5, 30.5)

In [46]:
def quadrado(x):
    return x ** 2

numeros = [1, 2, 3, 4, 5]
resultado = map(quadrado, numeros)
print(list(resultado))

[1, 4, 9, 16, 25]

In [47]:
numeros = [1, 2, 3, 4, 5]
resultado = map(lambda x: x ** 2, numeros)
print(list(resultado))

[1, 4, 9, 16, 25]

In [17]:
dicionario = {
    'altura': 170,
    'peso': 50.6,
    'idade': [68, 72],
    'salario': 1543.68,
    'nome': 'Marcos'
              }

#==========================================================================

itens_dicionario = dicionario.items()

print(itens_dicionario,'\n')

for item in itens_dicionario:
    print(item)

print('')

for item in dicionario.items():
    print(item)

print('')

for chave, valor in dicionario.items():
    print(f'Chave: {chave} \t Valor: {valor}')

dict_items([('altura', 170), ('peso', 50.6), ('idade', [68, 72]), ('salario', 1543.68), ('nome', 'Marcos')])

('altura', 170)
('peso', 50.6)
('idade', [68, 72])
('salario', 1543.68)
('nome', 'Marcos')

('altura', 170)
('peso', 50.6)
('idade', [68, 72])
('salario', 1543.68)
('nome', 'Marcos')

Chave: altura 	 Valor: 170
Chave: peso 	 Valor: 50.6
Chave: idade 	 Valor: [68, 72]
Chave: salario 	 Valor: 1543.68
Chave: nome 	 Valor: Marcos

In [20]:
for i in dicionario.keys():
    print(i)

print('')

for i in dicionario.values():
    print(i)

altura
peso
idade
salario
nome

170
50.6
[68, 72]
1543.68
Marcos

In [21]:
info = ['info_1', 'info_2', 'info_3', 'info_4', 'info_5', 'info_6']
resultado = ['teste', 87, 0.1346, (3, 9), [2, 4, 67], 'oi']

novo_dicionario = dict.fromkeys(info, 0)

print(novo_dicionario)

{'info_1': 0, 'info_2': 0, 'info_3': 0, 'info_4': 0, 'info_5': 0, 'info_6': 0}

In [29]:
lista_tuplas = zip(info, resultado)
print(lista_tuplas)

print('')

for item in lista_tuplas:
    print(item)

<zip object at 0x0000017446AC43C0>

('info_1', 'teste')
('info_2', 87)
('info_3', 0.1346)
('info_4', (3, 9))
('info_5', [2, 4, 67])
('info_6', 'oi')

In [31]:
# Cria uma lista de tuplas com "info" = Chaves e "resultados" = Valores
lista_tuplas = zip(info, resultado)

# Cria um dicionário com base na lista de tuplas
dicionario_info = dict(lista_tuplas)

# Apresenta o dicionário
print(dicionario_info)

{'info_1': 'teste', 'info_2': 87, 'info_3': 0.1346, 'info_4': (3, 9), 'info_5': [2, 4, 67], 'info_6': 'oi'}

In [37]:
dicionario_teste = {}

for i in range(5):
    dicionario_teste[f'{i + 1}'] = (i + 1) * 3

dicionario_teste

{'1': 3, '2': 6, '3': 9, '4': 12, '5': 15}

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: set
</div>

In [38]:
# Criação de um dicionário
set_1 = {}

# Criação de um set (Um set não repete os itens)
set_2 = {'arroz', 'feijão', 'carne', 'arroz'}

print(set_2)

{'feijão', 'carne', 'arroz'}

In [41]:
lista = ['arroz', 'feijão', 'carne', 'arroz']
print(len(lista))

lista_set = set(lista)
print(len(lista_set))

nova_lista = list(lista_set)
print(nova_lista)

4
3
['feijão', 'carne', 'arroz']

In [11]:
def verificacao(entrada):

    if entrada == 'opcao_1':
        return 1
    
    elif entrada == 'opcao_2':
        return 2
    
    elif entrada == 'opcao_3':
        return 3
    
    if entrada == 'opcao_4':
        return 4
    
    elif entrada == 'opcao_5':
        return 5
    
    elif entrada == 'opcao_6':
        return 6
    
    else:
        return None
    
#=================================================================

def verificacao(entrada):

    dicionario_condicao = {'opcao_1': 1,
                        'opcao_2': 2,
                        'opcao_3': 3,
                        'opcao_4': 4,
                        'opcao_5': 5}

    if entrada in dicionario_condicao.keys():
        return dicionario_condicao[entrada]

#=================================================================

entrada = 'opcao_10'
if verificacao(entrada):
    print('Deu certo')

# Funções

In [2]:
def operacoes(num1, num2):
    soma = num1 + num2
    sub = num1 - num2
    mult = num1 * num2
    div = num1 / num2

    return (soma, sub, mult, div)

In [4]:
soma, subtracao, multiplicacao, divisao = operacoes(10, 5)

print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)

15
5
50
2.0

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Docstring.
</div>

In [1]:
def operacoes_1(num1, num2):

    ''' Realiza as operações básicas de adição, subtração, multiplicação e 
    divisão com num1 e num2

    Parameters:
        num1 (float): Primeiro número da operação
        num2 (float): Segundo número da operação

    Return:
        resultados (float): Os 4 valores das operações básicas
    
    '''
    soma = num1 + num2
    sub = num1 - num2
    mult = num1 * num2
    div = num1 / num2

    return (soma, sub, mult, div)

In [2]:
help(operacoes_1)

Help on function operacoes_1 in module __main__:

operacoes_1(num1, num2)
    Realiza as operações básicas de adição, subtração, multiplicação e
    divisão com num1 e num2

    Parameters:
        num1 (float): Primeiro número da operação
        num2 (float): Segundo número da operação

    Return:
        resultados (float): Os 4 valores das operações básicas

In [3]:
operacoes_1(1, 2)

(3, -1, 2, 0.5)

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Annotation.
</div>

In [10]:
def operacoes_2(num1: float, num2: float = 2.3) -> float:

    soma = num1 + num2
    sub = num1 - num2
    mult = num1 * num2
    div = num1 / num2

    return (soma, sub, mult, div)

In [12]:
operacoes_2(1)

(3.3, -1.2999999999999998, 2.3, 0.4347826086956522)

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Raise Error.
</div>

In [13]:
def operacoes_3(num1, num2):

    if num2 == 0:
        raise ZeroDivisionError("num2 não pode ser igual a zero")
    
    else:
        soma = num1 + num2
        sub = num1 - num2
        mult = num1 * num2
        div = num1 / num2

        return (soma, sub, mult, div)

In [15]:
operacoes_3(2,0)

ZeroDivisionError: num2 não pode ser igual a zero

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Quantidade indefinida de argumentos.
</div>

In [16]:
def soma(*numeros):
    total = 0

    for numero in numeros:
        total += numero

    return(total)

In [20]:
soma(2, 7)

9

In [19]:
soma(1, 2, 5, 10)

18

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: **kwargs
</div>

In [33]:
def desconto(valor, **impostos):

    if 'IPVA' in impostos:
        valor = valor - (valor * impostos['IPVA'])

    if 'IPTU' in impostos:
        valor = valor - (valor * impostos['IPTU'])

    return valor

In [34]:
desconto(1000, IPVA = 0.21, IPTU = 0.04)

758.4

In [36]:
desconto(1000, IPVA = 0.21, IPTU = 0.04, outro_imposto = 0.1)

758.4

<div class = 'alert alert-block alert-info'>
     <b>Assunto</b>: Ordem dos Argumentos
</div>

- Sempre os positional arguments vêm antes e depois os keywords arguments.
- Sempre os argumentos individuais vêm antes e depois os "múltiplos"

In [ ]:
def minha_funcao(arg1, arg2, arg3, arg4, *args, k = kwarg1, k2 = kwarg2, k3 = kwarg3, **kwargs):
    ...

# List Comprehension

In [3]:
valor_itens = [100, 90, 150, 200, 10]

lista_imposto = []

for valor in valor_itens:
    lista_imposto.append(valor * 0.15)

print(lista_imposto)

# Usando List Comprehension
lista_imposto_2 = [imposto * 0.15 for imposto in valor_itens]
print(lista_imposto_2)

[15.0, 13.5, 22.5, 30.0, 1.5]
[15.0, 13.5, 22.5, 30.0, 1.5]

In [4]:
def calcular_imposto(preco, imposto):
    return preco * imposto

lista_imposto_3 = [calcular_imposto(preco, 0.15) for preco in valor_itens]
print(lista_imposto_3)

[15.0, 13.5, 22.5, 30.0, 1.5]

In [9]:
vendas_produtos = [1500, 150, 2100, 1950]
produtos = ['vinho', 'cafeteira', 'microondas', 'iphone']

# Junta as duas listas em uma lista de tuplas
lista_aux = list(zip(vendas_produtos, produtos))

# Ordena com base nos elementos da primeira posição da tupla (Deixa os valores na ordem decrescente)
lista_aux.sort(reverse = True)

# Cria uma nova lista apenas com os produtos
lista_produtos = [produto for vendas, produto in lista_aux]

# Apresenta a lista auxiliar completa
print(lista_aux)

# Apresenta a lista com apenas os nomes das mercadorias
print(lista_produtos)

[(2100, 'microondas'), (1950, 'iphone'), (1500, 'vinho'), (150, 'cafeteira')]
['microondas', 'iphone', 'vinho', 'cafeteira']

In [15]:
meta = 1800
vendas_produtos = [1500, 150, 2100, 1950]
produtos = ['vinho', 'cafeteira', 'microondas', 'iphone']

lista_produtos = []

for i, venda_produto in enumerate(vendas_produtos):
    if venda_produto >= meta:
        lista_produtos.append(produtos[i])

print(lista_produtos)


lista_produtos_2 = [produto for i, produto in enumerate(produtos) if vendas_produtos[i] >= meta]
print(lista_produtos_2)

['microondas', 'iphone']
['microondas', 'iphone']

In [16]:
vendedores_dic = {'Maria': 1200, 'José': 300, 'Antônio': 800, 'João': 1500, 
                  'Francisco': 1900, 'Ana': 2750, 'Luiz': 400, 'Paulo': 20, 'Carlos': 23, 
                  'Manoel': 70, 'Pedro': 90, 'Francisca': 80, 'Marcos': 1100, 'Raimundo': 999, 
                  'Sebastião': 900, 'Antônia': 880, 'Marcelo': 870, 'Jorge': 50, 'Márcia': 1111, 
                  'Geraldo': 120, 'Adriana': 300, 'Sandra': 450, 'Luis': 800}
meta = 1000

lista_bonus = []
for vendedor in vendedores_dic:
    if vendedores_dic[vendedor] >= meta:
        bonus = vendedores_dic[vendedor] * 0.1
    else:
        bonus = 0
    lista_bonus.append(bonus)
print(lista_bonus)


lista_bonus_2 = [vendedores_dic[vendedor] * 0.1 if vendedores_dic[vendedor] >= meta else 0 for vendedor in vendedores_dic]
print(lista_bonus_2)

[120.0, 0, 0, 150.0, 190.0, 275.0, 0, 0, 0, 0, 0, 0, 110.0, 0, 0, 0, 0, 0, 111.10000000000001, 0, 0, 0, 0]
[120.0, 0, 0, 150.0, 190.0, 275.0, 0, 0, 0, 0, 0, 0, 110.0, 0, 0, 0, 0, 0, 111.10000000000001, 0, 0, 0, 0]

In [ ]:
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
top5 = ['agua', 'brahma', 'skol', 'coca', 'leite de castanha']

- Fazendo por for

In [ ]:
total_top5 = 0
for i, produto in enumerate(produtos):
    if produto in top5:
        total_top5 += vendas[i]

print(total_top5)
print('Top 5 representou {:0.1%} das vendas'.format(total_top5/sum(vendas)))

8461
Top 5 representou 50.6% das vendas

- Fazendo por list comprehension

In [ ]:
total_top5 = sum(vendas[i] for i, produto in enumerate(produtos) if produto in top5)
print(total_top5)
print('Top 5 representou {:0.1%} das vendas'.format(total_top5/sum(vendas)))

8461
Top 5 representou 50.6% das vendas

# Módulos, bibliotecas e introdução à orientação a objeto

## Introdução a Orientação a Objeto

## Bibliotecas

import módulo

ou

import módulo as nome

- Exemplo: Como pode fazer o nosso código abrir um site específico na internet?

### Variações

#importar o módulo sem precisar usar o nome dele
from modulo import *

#importar apenas algumas partes do módulo
from modulo import funcao1, funcao2, etc.

# Lambda

# Função map

In [3]:
def tratamento(texto):
    texto = texto.casefold()
    texto = texto.replace(' ', '')
    return texto

lista = [' AB 123', 'CFG 657', 'JK 908']
print(lista)

lista = list(map(tratamento, lista))

print(lista)

[' AB 123', 'CFG 657', 'JK 908']
['ab123', 'cfg657', 'jk908']

In [4]:
# Função que dobra o valor
def dobrar(x):
    return x * 2

# Lista de números
numeros = [1, 2, 3, 4, 5]

# Aplicando a função usando map
resultados = map(dobrar, numeros)

# Convertendo o resultado para uma lista e exibindo
print(list(resultados))

[2, 4, 6, 8, 10]

In [5]:
# Lista de strings que representam números
strings_numeros = ['1', '2', '3', '4', '5']

# Convertendo cada string para um inteiro
numeros = map(int, strings_numeros)

# Convertendo o resultado para uma lista e exibindo
print(list(numeros))

[1, 2, 3, 4, 5]

In [6]:
# Lista de números
numeros = [1, 2, 3, 4, 5]

# Usando uma função lambda para calcular o quadrado
quadrados = map(lambda x: x ** 2, numeros)

# Convertendo o resultado para uma lista e exibindo
print(list(quadrados))

[1, 4, 9, 16, 25]

In [7]:
# Função para somar dois números
def somar(a, b):
    return a + b

# Duas listas de números
lista1 = [1, 2, 3, 4]
lista2 = [5, 6, 7, 8]

# Aplicando a função usando map com múltiplos iteráveis
resultados = map(somar, lista1, lista2)

# Convertendo o resultado para uma lista e exibindo
print(list(resultados))

[6, 8, 10, 12]

In [11]:
funcao_dobrar = lambda x: x * 2
print(funcao_dobrar(3))

funcao_cubica = lambda x: x ** 3
print(funcao_cubica(4))

funcao_somar = lambda x, y: x + y
print(funcao_somar(3, 2))

6
64
5

In [14]:
lista_1 = [1, 2, 4, 8, 16]
lista_2 = [0.1, 0.2, 0.3, 0.4, 0.5]

lista_3 = list(map(funcao_somar, lista_1, lista_2))
print(lista_3)

[1.1, 2.2, 4.3, 8.4, 16.5]