In [55]:
# Criando um conjunto
conjunto = {5, 6, 7}
print(conjunto)  # Saída: {5, 6, 7}

{5, 6, 7}

In [56]:
# Adicionando elementos a um conjunto
conjunto.add(8)
print(conjunto)  # Saída: {5, 6, 7, 8}

{8, 5, 6, 7}

In [57]:
# Removendo elementos de um conjunto
conjunto.remove(6)
print(conjunto)  # Saída: {5, 7, 8}

{8, 5, 7}

In [58]:
# Verificando se um elemento está no conjunto
print(5 in conjunto)  # Saída: True
print(6 in conjunto)  # Saída: False

True
False

In [59]:
# União de conjuntos
conjunto2 = {1, 2, 3, 8}
uniao = conjunto.union(conjunto2)
print(uniao)  # Saída: {1, 2, 3, 5, 7, 8}

{1, 2, 3, 5, 7, 8}

In [60]:
# Interseção de conjuntos
intersecao = conjunto.intersection(conjunto2)
print(intersecao)  # Saída: set()

{8}

In [61]:
# Diferença de conjuntos
diferenca = conjunto.difference(conjunto2)
print(diferenca)  # Saída: {5, 7, 8}

{5, 7}

In [62]:
# Diferença simétrica de conjuntos
diferenca_simetrica = conjunto.symmetric_difference(conjunto2)
print(diferenca_simetrica)  # Saída: {1, 2, 3, 5, 7, 8}

{1, 2, 3, 5, 7}

In [ ]:
# Subconjunto e Superconjunto
conjunto3 = {5, 7}
print(conjunto3.issubset(conjunto))  # Saída: True
print(conjunto.issuperset(conjunto3))  # Saída: True

In [ ]:
# Conjuntos imutáveis (frozenset)
conjunto_imutavel = frozenset(conjunto)
print(conjunto_imutavel)  # Saída: frozenset({8, 5, 7})

In [63]:
# Convertendo lista para conjunto (removendo duplicatas)
lista_2 = ['elemento', 6, 1, 2, 5, 6, 'aaa']
conjunto_lista = set(lista_2)
print(conjunto_lista)  # Saída: {1, 2, 5, 6, 'elemento', 'aaa'}

{1, 2, 5, 6, 'aaa', 'elemento'}

In [65]:
# Convertendo tupla para conjunto
tupla = (1, 2)
conjunto_tupla = set(tupla)
print(conjunto_tupla)  # Saída: {1, 2}

{1, 2}

In [64]:
conjunto = {'x', 'y', 'z', 'z'}
len(conjunto)

3

___

In [31]:
x = 3

match x:
    case 1:
        print("x é 1")
    case 2:
        print("x é 2")
    case _:
        print("x não é nem 1 nem 2")

x não é nem 1 nem 2

In [4]:
user = {"name": "Alice", "cidade": "Florianopólis", "age": 30}

match user:
    case {"name": name, "age": age} if age >= 18: print(f"{name} é adulto")
        
    case {"name": name, "age": age}: print(f"{name} é menor de idade")

Alice é adulto

___

In [1]:
import pyautogui
import time

In [ ]:
# Movendo o mouse para uma posição específica (x, y)
print("Movendo o mouse para a posição (500, 500)...")
pyautogui.moveTo(500, 500, duration=1)  # Move o mouse em 1 segundo para (500, 500)

# Realizando um clique
print("Realizando um clique na posição atual...")
pyautogui.click()

# Movendo o mouse relativo à posição atual
print("Movendo o mouse 100 pixels para a direita e 50 para baixo...")
pyautogui.move(100, 50, duration=1)

# Realizando um duplo clique
print("Realizando um duplo clique...")
pyautogui.doubleClick()

# Realizando um clique com botão direito
print("Realizando um clique com o botão direito...")
pyautogui.rightClick()

In [9]:
# Obtendo a posição atual do mouse
current_position = pyautogui.position()
print(f"A posição atual do mouse é: {current_position}")

A posição atual do mouse é: Point(x=1698, y=818)

In [5]:
import pyautogui
import time

In [7]:
# Obtendo a posição atual do mouse
current_position = pyautogui.position()
print(f"A posição atual do mouse é: {current_position}")

A posição atual do mouse é: Point(x=1594, y=570)

In [ ]:
tempo = 20

while True:
# for _ in range(2):
    pyautogui.moveTo(269, 553, duration=1)  # Move o mouse em 1 segundo para (500, 500)
    time.sleep(tempo)
    pyautogui.moveTo(1594, 570, duration=1)  # Move o mouse em 1 segundo para (500, 500)
    time.sleep(tempo)

___

In [1]:
import kaggle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from datetime import datetime
import random
import os

In [4]:
caminhos = {
    1: r"kaggle/cereal.csv",
    2: r"kaggle\WA_Fn-UseC_-HR-Employee-Attrition.csv"
}

df = pd.read_csv(filepath_or_buffer = caminhos[1])

display(df)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [213]:
quantidade = 10_000

lista_cidades = ["Florianopólis", "Recife", "Garanhuns", "Rio de Janeiro", "São Paulo", "Curitiba", "Porto Alegre", "Belo Horizonte"]
mapa_cidade = dict(enumerate([lista_cidades[random.randint(0, len(lista_cidades) - 1)] for _ in range(quantidade)]))

lista_emprego = ["Restaurante", "Mercado", "Loja de roupas", "Indústria", "Barbearia", "Hospital"]
mapa_emprego = dict(enumerate([lista_emprego[random.randint(0, len(lista_emprego) - 1)] for _ in range(quantidade)]))

lista_qualidade = ["Péssimo", "Ruim", "Neutro", "Bom", "Ótimo"]
mapa_qualidade = dict(enumerate([lista_qualidade[random.randint(0, len(lista_qualidade) - 1)] for _ in range(quantidade)]))

lista_tipo_emprego = ["Presencial", "Remoto", "Hibrído"]
mapa_tipo_emprego = dict(enumerate([lista_tipo_emprego[random.randint(0, len(lista_tipo_emprego) - 1)] for _ in range(quantidade)]))

lista_idade = [random.randint(18, 21) for _ in range(quantidade)]
mapa_idade = dict(enumerate(lista_idade))

ano_minimo = 2023
ano_maximo = 2025
lista_data = [datetime(random.randint(ano_minimo, ano_maximo), random.randint(1, 12), random.randint(1, 28)) for _ in range(quantidade)]
mapa_data = dict(enumerate(lista_data))

media = 6000
desvio_padrao = 1250
casas_decimais = 2
lista_salario = [float(np.round(a = np.random.standard_normal(1) * desvio_padrao + media, decimals = casas_decimais)[0]) for _ in range(quantidade)]
mapa_salario = dict(enumerate(lista_salario))

dados = {
    "data": mapa_data.values(),
    "cidade": mapa_cidade.values(),
    "emprego": mapa_emprego.values(),
    "qualidade": mapa_qualidade.values(),
    "tipo": mapa_tipo_emprego.values(),
    "idade": mapa_idade.values(),
    "salario": mapa_salario.values(),
}

df = pd.DataFrame(data = dados)

display(df)

,data,cidade,emprego,qualidade,tipo,idade,salario
0,2023-07-19,Rio de Janeiro,Hospital,Ótimo,Presencial,21,"7,713.77"
1,2024-02-11,Belo Horizonte,Hospital,Ruim,Remoto,20,"7,374.19"
2,2025-03-01,Curitiba,Indústria,Ótimo,Hibrído,18,"7,712.64"
3,2023-10-20,Porto Alegre,Restaurante,Bom,Remoto,19,"8,070.83"
4,2024-01-22,Curitiba,Indústria,Ruim,Presencial,18,"5,959.65"
...,...,...,...,...,...,...,...
9995,2025-05-05,Rio de Janeiro,Loja de roupas,Bom,Hibrído,18,"8,073.9"
9996,2025-07-12,Garanhuns,Indústria,Ruim,Presencial,19,"4,276.38"
9997,2024-11-22,Recife,Hospital,Péssimo,Remoto,19,"6,059.5"
9998,2025-03-15,Belo Horizonte,Loja de roupas,Neutro,Presencial,20,"6,790.25"
9999,2023-02-01,Curitiba,Restaurante,Ruim,Remoto,18,"5,670.24"

___

$$

\begin{array}{c}

    f(x) = x^2 \\ \\ \\
    f(x) = x^n + x^{(n - 1)} \\ \\ \\
    f(x) = \sqrt{a^2 + b^2} \\ \\ \\
    f(x) = \sqrt[3]{a^2 + b^2} \\ \\ \\
    -10 \le x \le 10 \\ \\ \\
    e^x = \sum\limits^\infty_{n = 0} \frac{x^n}{x!} \\ \\ \\
    f^\prime(x)\ = \lim\limits_{\Delta x\to0}\frac{f(x+\Delta x)-f(x)}{\Delta x} \\ \\ \\
    \Large f(x) = \int\limits^x_{- \infty} e^{-t^2}dt \\ \\ \\
    \Large e^x = \lim\limits_{n \to \infty} \left(1 + \frac{-n}{x} \right)^n \\ \\ \\

\end{array}

$$

$$ \Large
    \sum_{\substack{
        0 \ \ < \ \ i \ \ < \ \ n \\ 
        1 \ \ < \ \ j \ \ < \ \ m}}^{\substack{x \ \ < \ \ \infty \\ y \ \ \ge \ \ 0}} P(i,j) =
    \sum_{
        \begin{subarray}{c} 
            i \ \ \in \ \ I \\
            1 \ \ < \ \ j \ \ < \ \ m
        \end{subarray}}^{\begin{subarray}{c} 
            i \ \ \in \ \ I \\
            1 \ \ < \ \ j \ \ < \ \ m
        \end{subarray}} Q(i,j)
$$

$$

\mathop{\mathrm{corr}}(X,Y)=
\frac{\displaystyle
\sum_{i=1}^n(x_i-\overline x)
(y_i-\overline y)}
{\displaystyle\biggl[
\sum_{i=1}^n(x_i-\overline x)^2
\sum_{i=1}^n(y_i-\overline y)^2
\biggr]^{1/2}}

$$