In [ ]:
# Exemplo 5: Função lambda com sorted
# Usando lambda para ordenar uma lista de tuplas pelo segundo elemento
tuplas = [(1, 2), (3, 1), (5, 4), (2, 3)]
ordenado = sorted(tuplas, key=lambda x: x[1])
print(ordenado)  # Saída: [(3, 1), (1, 2), (2, 3), (5, 4)]

# Exemplo 6: Função lambda com zip
# Usando lambda para somar elementos de duas listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
soma_listas = list(map(lambda x, y: x + y, lista1, lista2))
print(soma_listas)  # Saída: [5, 7, 9]

# Exemplo 7: Função lambda com list comprehension
# Usando lambda dentro de uma list comprehension para transformar elementos
transformada = [(lambda x: x * 2)(x) for x in lista]
print(transformada)  # Saída: [2, 4, 6, 8, 10]

# Exemplo 8: Função lambda com dicionários
# Usando lambda para ordenar um dicionário por seus valores
dicionario = {'a': 3, 'b': 1, 'c': 2}
ordenado_por_valor = dict(sorted(dicionario.items(), key=lambda item: item[1]))
print(ordenado_por_valor)  # Saída: {'b': 1, 'c': 2, 'a': 3}

___

In [ ]:
# Criando um conjunto
conjunto = {5, 6, 7}
print(conjunto)  # Saída: {5, 6, 7}

# Adicionando elementos a um conjunto
conjunto.add(8)
print(conjunto)  # Saída: {5, 6, 7, 8}

# Removendo elementos de um conjunto
conjunto.remove(6)
print(conjunto)  # Saída: {5, 7, 8}

# Verificando se um elemento está no conjunto
print(5 in conjunto)  # Saída: True
print(6 in conjunto)  # Saída: False

# União de conjuntos
conjunto2 = {1, 2, 3}
uniao = conjunto.union(conjunto2)
print(uniao)  # Saída: {1, 2, 3, 5, 7, 8}

# Interseção de conjuntos
intersecao = conjunto.intersection(conjunto2)
print(intersecao)  # Saída: set()

# Diferença de conjuntos
diferenca = conjunto.difference(conjunto2)
print(diferenca)  # Saída: {5, 7, 8}

# Diferença simétrica de conjuntos
diferenca_simetrica = conjunto.symmetric_difference(conjunto2)
print(diferenca_simetrica)  # Saída: {1, 2, 3, 5, 7, 8}

# Subconjunto e Superconjunto
conjunto3 = {5, 7}
print(conjunto3.issubset(conjunto))  # Saída: True
print(conjunto.issuperset(conjunto3))  # Saída: True

# Conjuntos imutáveis (frozenset)
conjunto_imutavel = frozenset(conjunto)
print(conjunto_imutavel)  # Saída: frozenset({8, 5, 7})

# Convertendo lista para conjunto (removendo duplicatas)
lista_2 = ['elemento', 6, 1, 2, 5, 6, 'aaa']
conjunto_lista = set(lista_2)
print(conjunto_lista)  # Saída: {1, 2, 5, 6, 'elemento', 'aaa'}

# Convertendo tupla para conjunto
tupla = (1, 2)
conjunto_tupla = set(tupla)
print(conjunto_tupla)  # Saída: {1, 2}

conjunto = {'x', 'y', 'z', 'z'}
len(conjunto)

___

In [1]:
import numpy as np
import random
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
# Criando um dicionário
dicionario = {'nome': 'Alice', 'idade': 25, 'cidade': 'São Paulo'}
print(dicionario)  # Saída: {'nome': 'Alice', 'idade': 25, 'cidade': 'São Paulo'}

# Acessando valores
print(dicionario['nome'])  # Saída: Alice

# Adicionando ou atualizando um valor
dicionario['idade'] = 26
print(dicionario)  # Saída: {'nome': 'Alice', 'idade': 26, 'cidade': 'São Paulo'}

# Removendo um item
del dicionario['cidade']
print(dicionario)  # Saída: {'nome': 'Alice', 'idade': 26}

# Usando o método get() para acessar valores
# Retorna None se a chave não existir
print(dicionario.get('cidade'))  # Saída: None

# Verificando se uma chave está no dicionário
print('nome' in dicionario)  # Saída: True
print('cidade' in dicionario)  # Saída: False

# Iterando sobre chaves e valores
for chave, valor in dicionario.items():
    print(f'{chave}: {valor}')
# Saída:
# nome: Alice
# idade: 26

# Obtendo apenas as chaves
print(dicionario.keys())  # Saída: dict_keys(['nome', 'idade'])

# Obtendo apenas os valores
print(dicionario.values())  # Saída: dict_values(['Alice', 26])

# Obtendo apenas os itens (pares chave-valor)
print(dicionario.items())  # Saída: dict_items([('nome', 'Alice'), ('idade', 26)])

# Removendo e retornando um item
idade = dicionario.pop('idade')
print(idade)  # Saída: 26
print(dicionario)  # Saída: {'nome': 'Alice'}

# Limpando o dicionário
dicionario.clear()
print(dicionario)  # Saída: {}

# Mesclando dois dicionários
dicionario1 = {'a': 1, 'b': 2}
dicionario2 = {'b': 3, 'c': 4}
dicionario1.update(dicionario2)
print(dicionario1)  # Saída: {'a': 1, 'b': 3, 'c': 4}

# Criando um dicionário com chaves e valores padrão
chaves = ['x', 'y', 'z']
valores_padrao = 0
novo_dicionario = dict.fromkeys(chaves, valores_padrao)
print(novo_dicionario)  # Saída: {'x': 0, 'y': 0, 'z': 0}

{'nome': 'Alice', 'idade': 25, 'cidade': 'São Paulo'}
Alice
{'nome': 'Alice', 'idade': 26, 'cidade': 'São Paulo'}
{'nome': 'Alice', 'idade': 26}
None
True
False
nome: Alice
idade: 26
dict_keys(['nome', 'idade'])
dict_values(['Alice', 26])
dict_items([('nome', 'Alice'), ('idade', 26)])
26
{'nome': 'Alice'}
{}
{'a': 1, 'b': 3, 'c': 4}
{'x': 0, 'y': 0, 'z': 0}

In [31]:
x = 3

match x:
    case 1:
        print("x é 1")
    case 2:
        print("x é 2")
    case _:
        print("x não é nem 1 nem 2")

x não é nem 1 nem 2

In [4]:
user = {"name": "Alice", "cidade": "Florianopólis", "age": 30}

match user:
    case {"name": name, "age": age} if age >= 18: print(f"{name} é adulto")
        
    case {"name": name, "age": age}: print(f"{name} é menor de idade")

Alice é adulto

In [ ]:
valor = 10

def func1():
    print(valor)

def func2():
    valor = 3
    print(valor)

def func3():
    global valor
    valor = 6

func1() # Mostra 10, por que a função usou a variável global
func2() # Mostra 3, porque dentro da função foi definida uma variável local
print(valor) # Mostra 10, porque a variável local da função 'func2' não altera a variável global

func3() # Altera o valor da variável global e não local
print(valor)

10
3
10
6

___

In [1]:
import pyautogui
import time

In [ ]:
# Movendo o mouse para uma posição específica (x, y)
print("Movendo o mouse para a posição (500, 500)...")
pyautogui.moveTo(500, 500, duration=1)  # Move o mouse em 1 segundo para (500, 500)

# Realizando um clique
print("Realizando um clique na posição atual...")
pyautogui.click()

# Movendo o mouse relativo à posição atual
print("Movendo o mouse 100 pixels para a direita e 50 para baixo...")
pyautogui.move(100, 50, duration=1)

# Realizando um duplo clique
print("Realizando um duplo clique...")
pyautogui.doubleClick()

# Realizando um clique com botão direito
print("Realizando um clique com o botão direito...")
pyautogui.rightClick()

In [9]:
# Obtendo a posição atual do mouse
current_position = pyautogui.position()
print(f"A posição atual do mouse é: {current_position}")

A posição atual do mouse é: Point(x=1698, y=818)

In [5]:
import pyautogui
import time

In [7]:
# Obtendo a posição atual do mouse
current_position = pyautogui.position()
print(f"A posição atual do mouse é: {current_position}")

A posição atual do mouse é: Point(x=1594, y=570)

In [ ]:
tempo = 20

while True:
# for _ in range(2):
    pyautogui.moveTo(269, 553, duration=1)  # Move o mouse em 1 segundo para (500, 500)
    time.sleep(tempo)
    pyautogui.moveTo(1594, 570, duration=1)  # Move o mouse em 1 segundo para (500, 500)
    time.sleep(tempo)

___

In [44]:
import kaggle
import pandas as pd
import shutil
import numpy as np

In [44]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files(dataset = "crawford/80-cereals", path = "kaggle", unzip = True)

Dataset URL: https://www.kaggle.com/datasets/crawford/80-cereals

In [45]:
df_cereal = pd.read_csv("kaggle/cereal.csv")

display(df_cereal)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [46]:
df_cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [47]:
df_cereal.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [ ]:
# Deleta a pasta que contém os dados que foram baixados do Kaggle
shutil.rmtree("kaggle")

___

In [189]:
import kaggle
import pandas as pd
import numpy as np
import random
import os

In [19]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files(dataset = "crawford/80-cereals", path = "kaggle", unzip = True)

Dataset URL: https://www.kaggle.com/datasets/crawford/80-cereals

In [598]:
df_cereal = pd.read_csv("kaggle/cereal.csv")

display(df_cereal)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [603]:
df_cereal.groupby("mfr")[["calories", "rating"]].mean()

       calories     rating
mfr
A    100.000000  54.850917
G    111.363636  34.485852
K    108.695652  44.038462
N     86.666667  67.968567
P    108.888889  41.705744
Q     95.000000  42.915990
R    115.000000  41.542997

In [601]:
df_cereal["mfr"].value_counts()

mfr
K    23
G    22
P     9
R     8
Q     8
N     6
A     1
Name: count, dtype: int64

In [553]:
import re

In [572]:
texto = """
(Primeira parte) que você está lendo esse texto agora talvez
você não saiba o motivo disso
"""

In [573]:
padrao = re.compile(r'\((.*?)\)')
r = re.match(padrao, texto)
type(r)

NoneType