In [55]:
# Criando um conjunto
conjunto = {5, 6, 7}
print(conjunto)  # Saída: {5, 6, 7}

{5, 6, 7}

In [56]:
# Adicionando elementos a um conjunto
conjunto.add(8)
print(conjunto)  # Saída: {5, 6, 7, 8}

{8, 5, 6, 7}

In [57]:
# Removendo elementos de um conjunto
conjunto.remove(6)
print(conjunto)  # Saída: {5, 7, 8}

{8, 5, 7}

In [58]:
# Verificando se um elemento está no conjunto
print(5 in conjunto)  # Saída: True
print(6 in conjunto)  # Saída: False

True
False

In [59]:
# União de conjuntos
conjunto2 = {1, 2, 3, 8}
uniao = conjunto.union(conjunto2)
print(uniao)  # Saída: {1, 2, 3, 5, 7, 8}

{1, 2, 3, 5, 7, 8}

In [60]:
# Interseção de conjuntos
intersecao = conjunto.intersection(conjunto2)
print(intersecao)  # Saída: set()

{8}

In [61]:
# Diferença de conjuntos
diferenca = conjunto.difference(conjunto2)
print(diferenca)  # Saída: {5, 7, 8}

{5, 7}

In [62]:
# Diferença simétrica de conjuntos
diferenca_simetrica = conjunto.symmetric_difference(conjunto2)
print(diferenca_simetrica)  # Saída: {1, 2, 3, 5, 7, 8}

{1, 2, 3, 5, 7}

In [ ]:
# Subconjunto e Superconjunto
conjunto3 = {5, 7}
print(conjunto3.issubset(conjunto))  # Saída: True
print(conjunto.issuperset(conjunto3))  # Saída: True

In [ ]:
# Conjuntos imutáveis (frozenset)
conjunto_imutavel = frozenset(conjunto)
print(conjunto_imutavel)  # Saída: frozenset({8, 5, 7})

In [63]:
# Convertendo lista para conjunto (removendo duplicatas)
lista_2 = ['elemento', 6, 1, 2, 5, 6, 'aaa']
conjunto_lista = set(lista_2)
print(conjunto_lista)  # Saída: {1, 2, 5, 6, 'elemento', 'aaa'}

{1, 2, 5, 6, 'aaa', 'elemento'}

In [65]:
# Convertendo tupla para conjunto
tupla = (1, 2)
conjunto_tupla = set(tupla)
print(conjunto_tupla)  # Saída: {1, 2}

{1, 2}

In [64]:
conjunto = {'x', 'y', 'z', 'z'}
len(conjunto)

3

___

In [31]:
x = 3

match x:
    case 1:
        print("x é 1")
    case 2:
        print("x é 2")
    case _:
        print("x não é nem 1 nem 2")

x não é nem 1 nem 2

In [4]:
user = {"name": "Alice", "cidade": "Florianopólis", "age": 30}

match user:
    case {"name": name, "age": age} if age >= 18: print(f"{name} é adulto")
        
    case {"name": name, "age": age}: print(f"{name} é menor de idade")

Alice é adulto

___

In [1]:
import pyautogui
import time

In [ ]:
# Movendo o mouse para uma posição específica (x, y)
print("Movendo o mouse para a posição (500, 500)...")
pyautogui.moveTo(500, 500, duration=1)  # Move o mouse em 1 segundo para (500, 500)

# Realizando um clique
print("Realizando um clique na posição atual...")
pyautogui.click()

# Movendo o mouse relativo à posição atual
print("Movendo o mouse 100 pixels para a direita e 50 para baixo...")
pyautogui.move(100, 50, duration=1)

# Realizando um duplo clique
print("Realizando um duplo clique...")
pyautogui.doubleClick()

# Realizando um clique com botão direito
print("Realizando um clique com o botão direito...")
pyautogui.rightClick()

In [9]:
# Obtendo a posição atual do mouse
current_position = pyautogui.position()
print(f"A posição atual do mouse é: {current_position}")

A posição atual do mouse é: Point(x=1698, y=818)

In [5]:
import pyautogui
import time

In [7]:
# Obtendo a posição atual do mouse
current_position = pyautogui.position()
print(f"A posição atual do mouse é: {current_position}")

A posição atual do mouse é: Point(x=1594, y=570)

In [ ]:
tempo = 20

while True:
# for _ in range(2):
    pyautogui.moveTo(269, 553, duration=1)  # Move o mouse em 1 segundo para (500, 500)
    time.sleep(tempo)
    pyautogui.moveTo(1594, 570, duration=1)  # Move o mouse em 1 segundo para (500, 500)
    time.sleep(tempo)

___

In [330]:
import kaggle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from datetime import datetime
import random
import os

In [1]:
BAIXAR_DATASET = False

if BAIXAR_DATASET:
    kaggle.api.authenticate()
    kaggle.api.dataset_download_files(dataset = "crawford/80-cereals", path = "kaggle", unzip = True)

In [4]:
df = pd.read_csv("kaggle/cereal.csv")

display(df)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [175]:
quantidade = 10000

lista_cidades = ["Florianopólis", "Recife", "Garanhuns", "Rio de Janeiro", "São Paulo", "Curitiba", "Porto Alegre", "Belo Horizonte"]
mapa_cidade = dict(enumerate([lista_cidades[random.randint(0, len(lista_cidades) - 1)] for _ in range(quantidade)]))

lista_emprego = ["Restaurante", "Mercado", "Loja de roupas", "Indústria", "Barbearia", "Hospital"]
mapa_emprego = dict(enumerate([lista_emprego[random.randint(0, len(lista_emprego) - 1)] for _ in range(quantidade)]))

lista_qualidade = ["Péssimo", "Ruim", "Neutro", "Bom", "Ótimo"]
mapa_qualidade = dict(enumerate([lista_qualidade[random.randint(0, len(lista_qualidade) - 1)] for _ in range(quantidade)]))

lista_tipo_emprego = ["Presencial", "Remoto", "Hibrído"]
mapa_tipo_emprego = dict(enumerate([lista_tipo_emprego[random.randint(0, len(lista_tipo_emprego) - 1)] for _ in range(quantidade)]))

lista_idade = [random.randint(18, 21) for _ in range(quantidade)]
mapa_idade = dict(enumerate(lista_idade))

lista_salario = [round(random.uniform(1200, 3500), 2) for _ in range(quantidade)]
mapa_salario = dict(enumerate(lista_salario))

dados = {
    "cidade": mapa_cidade.values(),
    "emprego": mapa_emprego.values(),
    "qualidade": mapa_qualidade.values(),
    "tipo": mapa_tipo_emprego.values(),
    "idade": mapa_idade.values(),
    "salario": mapa_salario.values(),
}

df = pd.DataFrame(data = dados)

display(df)

              cidade         emprego qualidade        tipo  idade  salario
0     Belo Horizonte     Restaurante       Bom     Hibrído     18  1976.92
1     Belo Horizonte  Loja de roupas    Neutro     Hibrído     19  3081.54
2          São Paulo       Indústria       Bom     Hibrído     19  3432.13
3          Garanhuns     Restaurante   Péssimo     Hibrído     21  1979.46
4          Garanhuns  Loja de roupas   Péssimo  Presencial     18  2171.84
...              ...             ...       ...         ...    ...      ...
9995       Garanhuns         Mercado     Ótimo  Presencial     21  1851.04
9996       São Paulo       Indústria       Bom  Presencial     18  1562.98
9997        Curitiba        Hospital    Neutro      Remoto     18  2260.08
9998  Rio de Janeiro         Mercado    Neutro  Presencial     20  2316.58
9999  Belo Horizonte         Mercado    Neutro  Presencial     19  1800.63

[10000 rows x 6 columns]

In [179]:
mapa_tipo = {"Presencial": 1, "Hibrído": 2, "Remoto": 3}
for mapa in mapa_tipo.keys(): df.loc[df.tipo == mapa, "tipo"] = mapa_tipo[mapa]
df

              cidade         emprego qualidade tipo  idade  salario
0     Belo Horizonte     Restaurante       Bom    2     18  1976.92
1     Belo Horizonte  Loja de roupas    Neutro    2     19  3081.54
2          São Paulo       Indústria       Bom    2     19  3432.13
3          Garanhuns     Restaurante   Péssimo    2     21  1979.46
4          Garanhuns  Loja de roupas   Péssimo    1     18  2171.84
...              ...             ...       ...  ...    ...      ...
9995       Garanhuns         Mercado     Ótimo    1     21  1851.04
9996       São Paulo       Indústria       Bom    1     18  1562.98
9997        Curitiba        Hospital    Neutro    3     18  2260.08
9998  Rio de Janeiro         Mercado    Neutro    1     20  2316.58
9999  Belo Horizonte         Mercado    Neutro    1     19  1800.63

[10000 rows x 6 columns]

In [362]:
linhas = 50_000_000

dados = {
    "b": np.random.randint(low = 0, high = 5, size = linhas),
}

df_gigante = pd.DataFrame(dados)

df_gigante

          b
0         0
1         0
2         1
3         3
4         4
...      ..
49999995  0
49999996  1
49999997  0
49999998  0
49999999  4

[50000000 rows x 1 columns]

In [363]:
mapa_itens = {0: "Péssimo", 1: "Ruim", 2: "Neutro", 3: "Bom", 4: "Ótimo"}
mapa_itens

{0: 'Péssimo', 1: 'Ruim', 2: 'Neutro', 3: 'Bom', 4: 'Ótimo'}

In [364]:
tempo_inicial = time.time()

for chave in mapa_itens.keys(): df_gigante.loc[df_gigante.b == chave, "novo_b"] = mapa_itens[chave]

print(f"{time.time() - tempo_inicial:.2f}")

4.93

In [357]:
df_gigante

         a             b  c             d            novo_b
0        3.864770e+07  2  6.176591e+06  1.542859e+06   Neutro
1        2.478297e+07  0  3.811961e+06  3.012611e+06  Péssimo
2        1.820427e+07  4  3.998908e+06  1.019926e+06    Ótimo
3        2.719647e+07  1  6.361031e+06  2.411924e+06     Ruim
4        1.762701e+07  3  2.587364e+06  7.754004e+06      Bom
...               ... ..           ...           ...      ...
9999995  3.237850e+07  1  9.805740e+06  5.134118e+06     Ruim
9999996  6.305766e+07  4  9.211344e+06  2.235168e+06    Ótimo
9999997  8.671157e+07  0  2.469225e+06  9.364059e+06  Péssimo
9999998  7.617423e+07  0  7.332647e+06  8.917015e+06  Péssimo
9999999  5.894596e+07  2  3.104411e+06  6.311513e+06   Neutro

[10000000 rows x 5 columns]

In [347]:
df_gigante.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   a       1000000 non-null  float64
 1   b       1000000 non-null  object
 2   c       1000000 non-null  float64
 3   d       1000000 non-null  float64
dtypes: float64(3), object(1)
memory usage: 30.5+ MB

In [346]:
df_gigante.b.unique()

array(['Neutro', 'Bom', 'Péssimo', 'Ótimo', 'Ruim'], dtype=object)

In [300]:
df = pd.read_csv(filepath_or_buffer = r"kaggle\WA_Fn-UseC_-HR-Employee-Attrition.csv", nrows = None)
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

___

$$

\begin{array}{c}

    f(x) = x^2 \\ \\ \\
    f(x) = x^n + x^{(n - 1)} \\ \\ \\
    f(x) = \sqrt{a^2 + b^2} \\ \\ \\
    f(x) = \sqrt[3]{a^2 + b^2} \\ \\ \\
    -10 \le x \le 10 \\ \\ \\
    e^x = \sum\limits^\infty_{n = 0} \frac{x^n}{x!} \\ \\ \\
    f^\prime(x)\ = \lim\limits_{\Delta x\to0}\frac{f(x+\Delta x)-f(x)}{\Delta x} \\ \\ \\
    \Large f(x) = \int\limits^x_{- \infty} e^{-t^2}dt \\ \\ \\
    \Large e^x = \lim\limits_{n \to \infty} \left(1 + \frac{-n}{x} \right)^n \\ \\ \\

\end{array}

$$

$$ \Large
    \sum_{\substack{
        0 \ \ < \ \ i \ \ < \ \ n \\ 
        1 \ \ < \ \ j \ \ < \ \ m}}^{\substack{x \ \ < \ \ \infty \\ y \ \ \ge \ \ 0}} P(i,j) =
    \sum_{
        \begin{subarray}{c} 
            i \ \ \in \ \ I \\
            1 \ \ < \ \ j \ \ < \ \ m
        \end{subarray}}^{\begin{subarray}{c} 
            i \ \ \in \ \ I \\
            1 \ \ < \ \ j \ \ < \ \ m
        \end{subarray}} Q(i,j)
$$

$$

\mathop{\mathrm{corr}}(X,Y)=
\frac{\displaystyle
\sum_{i=1}^n(x_i-\overline x)
(y_i-\overline y)}
{\displaystyle\biggl[
\sum_{i=1}^n(x_i-\overline x)^2
\sum_{i=1}^n(y_i-\overline y)^2
\biggr]^{1/2}}

$$